<div class="span-17 colborder">
<% @blogs.each do |blog| %>
  
  <div class="span-17 colborder <%= cycle('list_line_even', 'list_line_odd') %>">
    <%= render blog %>
   
    <% if user_signed_in? and blog.user.id == current_user.id  %>
      <div class="span-17 last"> 
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %>  
       </div>
     
    <% end %>
    <hr />
  </div>

<% end %>
</div> 
<div class="span-6 last"> 

  <% if user_signed_in? %>
    <%= link_to 'New Blog', new_blog_path %>
    <hr/>
  <% end %>
  <br/>
  <div class="span-6 last"> 
  <ul>
  <% @blogs.each do |blog| %>
    <li><%= link_to blog.title, new_blog_response_path(blog) %></li>
  <% end %>
  </ul>
  </div>
</div>
