%h1 
  Listing users

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Role
    %th Phone number
    %th Last login time
    - if user_signed_in? 
      %th 
      %th 
      %th 
  - @users.each do |user| 
    %tr
      %td 
        = user.first_name
      %td= user.last_name 
      %td= user.email 
      %td= user.role 
      %td= user.phone_number 
      %td= user.last_sign_in_at
      - if user_signed_in? and user.email == current_user.email
        %td= link_to 'Show', user 
        %td= link_to 'Edit', edit_user_path(user) 
        %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete 

%br

- if user_signed_in? 
  = link_to 'New User', new_user_path 

